.chat-message-container {
  padding: 5px;
  display: flex;
}

.left-position {
}
.right-position {
  justify-content: flex-end;
}

.chat-message-card {
  width: 300px;
  min-height: 55px;
  background-color: #25ee25;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.chat-message-header {
  font-size: small;
  position: relative;
  display: flex;
}
.chat-message-user {
  min-width: 50%;
  text-align: left;
}
.chat-message-date {
  min-width: 50%;
  text-align: right;
}

.chat-message-highlighted {
  background-color: yellow;
}

.chat-message-content {
  overflow-wrap: break-word;
}

.chat-message-attachment {}

.hidden {
  display: none;
}
