.chat-message-container {
  padding: 5px;
}

.left-position {

}
.right-position {

}

.chat-message-card {
  width: 300px;
  background-color: lightgreen;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.chat-message-header {
  font-size: small;
  position: relative;
  display: flex;
}
.chat-message-user {
  min-width: 50%;
  text-align: left;
}
.chat-message-date {
  min-width: 50%;
  text-align: right;
}

.chat-message-highlighted {
  background-color: yellow;
}

.chat-message-content {}

.chat-message-attachment {}

.hidden {
  display: none;
}
