.cm-container {
  padding: 10px;
  text-align: center;
}

.cm-form {}

.cm-text-input {
  width: 400px;
  height: 30px;
}

.cm-send-button {}



.cm-file-input,
.cm-file-inputs {
  display: none;
}
.cm-add-button {}

.hidden {}
